.titulBlog {
    position: relative;
}
.titulBlog::after{
    content: "";
    position: absolute;
    border-bottom: 3px solid #f6993f;
    left: -40px;
    right: -40px;
    height: 120%;
}

.titulFAQS{
    position: relative;
}

.titulFAQS::after{
    content: "";
    position: absolute;
    border-bottom: 3px solid #f6993f;
    left: 230px;
    right: 230px;
    height: 120%;
}